*{
    margin: 0;
    padding: 0;
}
html
{
    scroll-behavior: smooth;
}
/* CSS Variables */
:root
{
    --navbar-height:59px;
}
/* Navigation Bar */
#navbar
{
    display: flex;
    align-items: center;
    position:sticky;
    top:0px;
}
/* Navigation Bar : Logo and Image */
#logo
{
    margin: 1px 11px;
}
#logo img
{
    margin: 5px 21px;
    height: 12vh;
}
/* Navigation Bar : List Styling */
#navbar ul
{
    display: flex;
}
/* To manage image/background behind the navbar division. */
#navbar::before
{
    content:"";
    background-color: black;
    position:absolute;
    height:100%;
    width:100%;
    z-index: -1;
    opacity: 0.75;
    top:0px;
    left:0px;
}
#navbar ul li
{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a
{
    display:block;
    border-radius:20px;
    padding:0.8vw 2.6vw;
    text-decoration: none;
    color:white;
}
#navbar ul li a:hover
{
    color:black;
    background-color: white;
}
/* FOR HOME SECTION */
#home
{
    display: flex;
    flex-direction: column;
    padding: 1vh 10vw;
    align-items:center;
    justify-content: center;
    height:84vh;
}
#home::before
{
    content: "";
    background:url('food_bg_1.jpg') no-repeat center center;
    background-size :100% 100%;
    position:absolute;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:0.89;
    top:0px;
    left:0px;
}
#home h1
{
    text-align: center;
    color:white;
}
#home p
{
    text-align: center;
    color:whitesmoke;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
}
#imp_word1
{
    font-size: larger;
    color:yellow;
}
#imp_word2
{
    color:rgb(3, 163, 155);
}
/* For paragraphs written on man page */
#line1
{
    color:rgb(76, 207, 230);
}
#line2
{
    color:rgb(54, 250, 54);
}
#line3
{
    color:yellow;
}
/*Services Section  */
#services
{
    display:flex;
    margin:5vw;
}
#services .box
{
    border:2px solid brown;
    padding:25px;
    margin:8px 18px;
    border-radius:20px;
    background-color: rgb(241, 231, 231);

}
#services .box img
{
    height:12vw;
    display:block;
    margin:auto;
}
#service_line
{
    color:rgb(13, 134, 214);
    text-decoration: underline;
}
/* Client Section */
.clients
{
    display:flex;
    justify-content: center;
    align-items: center;
}
.clients img
{
    height:25vh;
}
.client_item
{
    padding:3vw;
}
#client_section
{
    position:relative;
}
#client_section::before
{
    content:"";
    position:absolute;
    background: url('client_bg.jpg');
    width:100%;
    height:56vh;
    z-index: -1;
    opacity:0.5;
}
/* Contact Section */
#contact
{
    position:relative;
}
#contact::before
{
    content:"";
    position:absolute;
    background: url('contact_bg.jpg') no-repeat center center/cover;
    width:100%;
    height:100%;
    z-index:-1;
    opacity:0.5;
}
#contact_box
{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom:3vh;

}
#contact_box input, #contact_box textarea
{
    width:100%;
    padding:0.3rem;
    border-radius:4px;
}
#contact_box form
{
    width:35%;
    font-weight:bold;
    font-size: large;
}
/*  */
footer
{
    background-color: black;
    border:1.5px solid red;
    color:white;
    padding:4px 6px;
    font-weight: bold;

}

/* Utility Classes */
.h_primary
{
    font-size: 3.4rem;
    padding: 2.5vw 3vw;
    font-family: 'Prata', serif;
}
.h_secondary
{
    font-size: 2.4rem;
    padding: 1vw 4vw;
    font-family: 'Prata', serif;
}

.btn
{
    padding:10px 22px;
    border:2px solid white;
    background-color: brown;
    color:white;
    border-radius:13px;
    margin:1vw;
    font-weight: bold;
    font-size:1rem;
    cursor:pointer;
}
.btn:hover
{
    background-color: rgb(180, 61, 61);
    color:rgb(241, 229, 229);
    font-size:1.05rem;
    border-color:yellow;

}
.center
{
    text-align: center;
}
#services p
{
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
}